body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image:url("/imagens/background.jpg");
}

.navbar {
  margin-bottom: 20px;
}

.error_message {
  padding: 15px;
  margin-bottom: 5px;
  color: inherit;
  background-color: #eee;
  border-radius: 6px;
}

.login {
	margin: 0px 20px 10px 20px;
}

.red_error {
	color: red;
}

.l-vline {
	border-color: #AAAAAA;
	border-left-style: solid;
	border-width: 1px;
}

.r-vline {
	border-color: #AAAAAA;
	border-right-style: solid;
	border-width: 1px;
}

.table-rubricas {
	width: 70% !important;
}
