body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image:url("/imagens/212146.jpg");
}

.navbar {
  margin-bottom: 20px;
}

.error_message {
  padding: 15px;
  margin-bottom: 5px;
  color: inherit;
  background-color: #eee;
  border-radius: 6px;
}
